*{
    margin:0;
    padding:0;
    font-family:serif;
    box-sizing:border-box;
}
body{
    background-color:#222;
}
.main{
    width:90%;
    max-width:470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color:#fff;
    margin:100px auto 0;
    border-radius:20px;
    padding:40px 35px;
    text-align:center;

}

.search{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;

}

.search input{
    height:40px;
    outline:0;
    border-style:solid;
    border-color:rgb(136, 133, 133);
    border-radius:30px;
    border-width:1px;
    padding:10px 25px;
    margin-right:16px;
    flex:1;
    font-size:18px;
}

.search button{
    border:0;
    outline:0;
    width:45px;
    height:45px;
    background-color:#ebfffc;
    border-radius: 50%;
    cursor: pointer;
}
.search button img{
    width:20px;
    height:25px;
}

.weather{
    border:0;
    outline:0;
    height:200px;
}
.weather img{
    height:150px;
}
.details{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0 20px;
    margin-top:50px;
}

.col {
    display:flex;
    align-items:center;
    margin-left:20px;
    text-align:left;
}
.col img{
    height:50px;
    width:50px;
}
.humidity, .wind{
    font-size:18px;
    margin-top:10px;
}

